<div style="width: 100%;">
    <h1 style="font-weight: 500;background-color: black;color: white;padding: 5px 10px;">Branium</h1>
    <br />

    <h2 style="font-weight: 500;font-size: 20px;margin: 2px 0;">
        Olá <%= name %>! Complete seu cadastro no Branium
    </h2>

    <p style="font-size: 18px;">
        Clique <a href="<%= link %>">aqui</a> para completar o cadastro
    </p>
</div>